[Desktop Entry]
Encoding=UTF-8
Name=Link to  Let's Play a game - Let's Play a game SAW Billy 
Type=Link
URL=http://s2.quickmeme.com/img/49/495324539dc255e97ee9181b726dd4d4a77eae5cce942448997aff0fb50c524a.jpg
Icon=image-jpeg
Name[en_US]=saw
